* {
  --min-sidebar-width: 250px;
  --header-height: 2em;
  --buttonPrePressAmount: 0.05em;

  --highlightColor: #ffaa00;
}

body {
  background-color: #121212;
  color: white;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0px;
  margin: 0px;

  overflow: hidden;
}
.header {
  height: calc(var(--header-height) - 2px);
  background-color: #282828;

  display: flex;
  align-items:center;
  justify-content:center;

  padding-left: 1em;
  padding-right: 1em;

  border-bottom-color: #121212;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.header > * {
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.content {  
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  background-color: #171717;
}
.sidebar {
  background-color: #222222;
  width: var(--min-sidebar-width);
  text-align: center;
}
.sidebarInnerHolder{
  padding: 4px;
}
.mainContent {
  /*top: 50%;
  right: 50px;
  transform: translate(0, -50%);
  width: calc(min(75vw, 95vh));
  position: absolute;*/

  /* IE, only works on <img> tags */
  /*-ms-interpolation-mode: nearest-neighbor;*/
  /* Firefox */
  /*image-rendering: crisp-edges;*/
  /* Chromium + Safari */
  /*image-rendering: pixelated;*/

  background-color: #222222;

  height: min(calc((100vh - var(--header-height))*0.98), 95vw);
  width: min(calc((100vh - var(--header-height))*0.98), 95vw);
}

.greenButton {
  --buttonColor: #00aa00;
  --buttonSideColor: #084d08;
}
.blueButton {
  --buttonColor: #001dc4;
  --buttonSideColor: #180091;
}
.redButton{
  --buttonColor: #e40000;
  --buttonSideColor: #7e0f05;
}
.yellowButton{
  --buttonColor: #b3a701;
  --buttonSideColor: #817e07;
}

button {
  border:none;
  color: white;
  background-color: var(--buttonColor);

  border-bottom-style: solid;
  border-bottom-width: 0.25em;
  border-bottom-color: var(--buttonSideColor);
}
button:hover{
  border-bottom-style: solid;
  border-bottom-width: calc(0.25em - var(--buttonPrePressAmount));
  border-bottom-color: var(--buttonSideColor);

  border-top-style: solid;
  border-top-width: var(--buttonPrePressAmount);
  border-top-color: var(--buttonSideColor);

  transform: translateY(var(--buttonPrePressAmount));
  margin-bottom: var(--buttonPrePressAmount);

  filter: brightness(1.2);
}
button:active {
  border-bottom-style: none;

  border-top-style: solid;
  border-top-width: 0.25em;
  border-top-color: var(--buttonSideColor);

  transform: translateY(0.25em);
  margin-bottom: 0.20em;
}
.actionsHolder {
  max-height: 30vh;
  overflow-x: scroll;
}
.actionDisplay{
  display: inline-block;
  display: flex;
  justify-content: flex-start;
  align-items:baseline;
  height: 1.2em;
  
  margin-left: auto;
  margin-right: auto;

  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.2em;
  padding-bottom: 0.5em;
  background-color: rgba(var(--color), 0.3);
  border-style: solid;
  border-color:rgba(var(--color), 0.8);
  border-width: 1px;
}
.actionDisplay:hover {
  background-color: rgba(var(--color), 0.5);
  border-color:rgba(var(--color), 0.8);
}
.actionDisplay > * { 
  margin-right: 2px;
}
.actionDisplay > p {
  margin: 0px;
}
.actionDisplay > *:first-child{
  margin-right: auto;
}

.actionsTitleHolder {
  display: flex;
  justify-content:space-between;
  align-items: baseline;
}
.actionsTitleHolder > button {
  font-size: 1.5em;
}


.popup{
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: #121212aa;
}
.popupHeader {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  left: 0.5em;
  display: flex; 
  justify-content: flex-end;
  align-items: center;
}
.popupWindow {
  position: relative;
  width: 30vw;

  margin-top: 15vh;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;

  background-color: #222222;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: var(--highlightColor)

}
.popupBody > * {
  display: block;
  padding-bottom: 4px;
}
.popupBody > h1:first-child{
  margin-top: 0px;
  padding-top: 0px;
}